.x-window-header-default-top {
    background-color: #d6e6f2;
}

.x-toolbar-footer {
    background-color: #d6e6f2;
}

.x-panel-default-framed {
    border-style: none;
}

.x-progress-default .x-progress-text {
    color: black;
}

.x-toolbar-footer {
    background-color: #d6e6f2;
}

.trbg {
    background-color: aliceblue;
}